{% extends "base.html" %}

{% block content %}

<div align="center">
	<h1>About Me</h1>
	Hey there my name is Diego Llanes and I am a Deep Learning researcher
	at <a href="https://www.linkedin.com/company/hutchresearch/mycompany/">HutchResearch</a>.
	My research involves evaluation novel methods of control, and also applications of Deep
	Learning in Astronomy.
	<br>
	<figure>
		<img src="/img/liftpic.JPG">
		<figcaption>Skiing with friends $\in {michelle, andrew}$. (me in the middle)</figcaption>
	</figure> 
</div>
<h2>Interests</h2>
<ul>
	<li>Rock Climbing</li>
	<li>Mountain Biking</li>
	<li>Snowboarding</li>
	<li>Cars</li>
	<li>Hiking</li>
	<li>Deep Learning</li>
	<li>Mathematics</li>
	<li>Control Theory</li>
	<li>Programming</li>
</ul>

{% endblock %}
