{% extends "base.html" %}

{% block content %}

<div align="center">

	<h2>about me</h2>

	<p>
		My name is Diego Llanes and I am a Deep Learning/Machine Learning Researcher interested in the study of control and dynamical systems.
		I currently work at Pacific Northwest National Laboratory as a Scientific Machine Learning Masters Intern.
		I am applying to PhD programs this year so wish me luck or let me in!
	</p>
	<figure>
		<img src="/figs/liftpic.JPG" width="500em">
		<figcaption>Skiing with friends at Whistler BC \(\in \{michelle, andrew\}\) (me in the middle)</figcaption>
	</figure> 
</div>
<h2>Interests</h2>
<ul>
	<li>Rock Climbing</li>
	<li>Mountain Biking</li>
	<li>Snowboarding</li>
	<li>Cars</li>
	<li>Hiking</li>
	<li>Deep Learning</li>
	<li>Mathematics</li>
	<li>Control Theory</li>
	<li>Programming</li>
</ul>

{% endblock %}
