<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
		<title>
			🦦🎣 diego
		</title>
	</head>
	<body>
		<header id="topnav">
		    <a class="name" href="/">diegollanes.com</a>
		    <a href="/fart">fart</a>
		    <a href="/contact">contact</a>
		    <a href="/about">about</a>
		</header> 
		<main>
			{% block content %}
			{% endblock %}
		</main>
		<footer>
			<a href="www.linkedin.com/in/diego-llanes-ai/">linked in</a>
			<a href="https://github.com/Diego-Llanes">github</a>
			<a href="https://wandb.ai/diegollanes">wandb</a>
		</footer>
	</body>
</html>
