{% extends "base.html" %}

{% block content %}

<div align="center">
	<h1>Contact Information</h1>
	Please contact me at one of these places if you have any interest or issues with me
	<br>
	<table>
		<tr>
			<th>email</th>
			<th><a href="mailto:contact@diegollanes.com">contact@diegollanes.com</a></th>
		</tr>
		<tr>
			<th>linked in</th>
			<th><a href="https://linkedin.com/in/diego-llanes-ai/">linkedin.com/in/diego-llanes-ai</a></th>
		</tr>
		<tr>
			<th>github</th>
			<th><a href="https://github.com/Diego-Llanes">github.com/Diego-Llanes</a></th>
		</tr>
		<tr>
			<th>wandb</th>
			<th><a href="https://wandb.ai/diegollanes">wandb.ai/diegollanes</a></th>
		</tr>
		<tr>
			<th>publicmatt</th>
			<th><a href="https://chat.publicmatt.com/u/user2/summary">user2</a></th>
		</tr>
	</table>
</div>

{% endblock %}
