{% extends "base.html" %}

{% block content %}

<head>
	<!-- latex stuff -->
	<script src="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/contrib/auto-render.min.js"></script>

	<!-- render latex by finding delimiters -->
	<script>
		document.addEventListener("DOMContentLoaded", function () {
			renderMathInElement(document.body, {
				delimiters: [
					{left: "$$", right: "$$", display: true},
					{left: "\\(", right: "\\)", display: false}
				],
			});
		});
	</script>
	<!-- ignore the ugly unicode stuff -->
	<style>
		.katex-html {
			display: none !important;
		}
	</style>
</head>

<main>
	{% block inner_content %}
	{% endblock %}
</main>
{% endblock %}
