{% extends "base.html" %}

{% block title %}
	greetings!
{% endblock %}

{% block page_style %}
  <style>
  html {
    overflow: auto;
    background-color: #121212;
  }
  .hero-image {
    background-image: url("../static/figs/diego_in_glacier.jpg");

    background-color: #cccccc;
    height: 100%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /*linear gradient on cover*/
    -webkit-mask-image: linear-gradient(to bottom, black 92%, transparent 100%);
            mask-image: linear-gradient(to bottom, black 92%, transparent 100%);
  }
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    /*text-shadow : horizontal-shadow vertical-shadow blur color;*/
    text-shadow:1px 1px 5px #000, 1px 1px 5px #ccc;
  }

  /* Make absolute so it sits on the hero picture */
  #topnav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }

  #scroll-indicator-container {
    position: absolute;
    right: 3%;
    bottom: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(255,255,255,1);
    transition: opacity 0.3s ease;
  }

  #scroll-indicator {
    font-size: 2.5em;
    flex:1;
    text-shadow:1px 1px 5px #000, 1px 1px 5px #ccc;
    animation: bounce 2s infinite;
  }

  #scroll-text {
    font-size: 1.25em;
    margin-top: 5px;
    transform: rotate(-90deg);
    flex: 1;
    margin-bottom: 3em;
    text-shadow:1px 1px 5px #000, 1px 1px 5px #ccc;
    animation: bounce-rotated 2s infinite;
  }

  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-5px);
    }
  }


  @keyframes bounce-rotated {
    0%, 20%, 50%, 80%, 100% {
      transform: rotate(-90deg) translateX(0);
    }
    40% {
      transform: rotate(-90deg) translateX(10px);
    }
    60% {
      transform: rotate(-90deg) translateX(5px);
    }
  }
  </style>
{% endblock %}

{% block content %}
  <div class="hero-image">
    <div class="hero-text">
      <h1 style="font-size:50px">👋 hi my name is diego llanes</h1>
      <h2 style="font-size:30px">👨‍💻🐍 i am a data scientist 📊⚗️</h3>
    </div>
    <div id="scroll-indicator-container">
      <div id="scroll-text">more content</div>
      <div id="scroll-indicator">&#x2193;</div>
    </div>
  </div>

  <main>
  <div>
    <h1>welcome to my personal website!</h1>
    <p>this website is intended to document some of my projects / résumé / cv / hobbies / who i am as a person</p>
    <p>feel free to hop around and explore, if something seems to be broken, please don't hesitate to contact me at <u>contact {at} diegollanes [dot] com</u>! please enjoy your stay!</p>
    <a href="/" style="font-weight: bold;">index</a> -- you are here!
    <br>
    <a href="/about" style="font-weight: bold;">about</a> -- learn about me as a person!
    <br>
    <a href="/research" style="font-weight: bold;">research</a> -- learn about my research projects!
    <br>
    <a href="/contact" style="font-weight: bold;">contact</a> -- get in touch with me!
    <br>
  </div>
  </main>
  <script>
  document.addEventListener('DOMContentLoaded', function() {
    const indicator = document.getElementById("scroll-indicator-container");
    window.addEventListener('scroll', function() {
      const fadeDistance = 150;
      const opacity = Math.max(0, 1 - window.scrollY / fadeDistance);
      indicator.style.opacity = opacity;
    });
  });
  </script>
{% endblock %}

