{% extends "base.html" %}

{% block content %}

<h2>Research Projects</h2>

These are some of my notable research projects

<ul>
	<li>
		<h3>ml_astro_boss</h3>
		Another student and I trained a Deep Learning Model to predict the stellar
		parameters of stars. This pipeline is now being used for the inference of
		new stars by other researchers in the field for stars observed by the
		BOSS telescope.
		</br>
		</br>
		<strong>STATUS:</strong> Publication is currently in review.
	</li>
	<li>
		<h3>tronn</h3>
		Two other students and I were tasked with benchmarking a novel Deep Learning
		Algorithm (DPC) against a littanny of other more traditional styles of Deep 
		Reinforcement Learning. We tested these algorithms in 6 different environments
		with different levels of true system interaction to test the data efficiency of
		each algorithm
		</br>
		</br>
		<strong>STATUS:</strong> Abstract submitted.
	</li>
	<li>
		<h3>ml_astro_hydra</h3>
		Three other students and I are working on developing a pipeline for estimating
		the stellar parameters observed by any telescope, agnostic to any artifacts that
		telescope may have.
		</br>
		</br>
		<strong>STATUS:</strong> In progress.
	</li>
</ul>

{% endblock %}
